<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>discount</key>
		<string>8</string>
		<key>disDate</key>
		<string>Apr.07</string>
		<key>coverImg</key>
		<string>http://img4q.duitang.com/uploads/item/201202/12/20120212145057_yKtnj.thumb.700_0.jpg</string>
		<key>title</key>
		<string>民国初年北京清华大学研究生李鸿樾</string>
		<key>curPrice</key>
		<string>￥225</string>
		<key>oriPrice</key>
		<string>￥338</string>
		<key>detail</key>
		<string>民国初年北京清华大学研究生李鸿樾的毕业证书走红网络。因毕业证书的导师栏里赫然写着王国维、梁启超、梅贻琦、赵元任、陈寅恪等历史名人，而被网友惊呼为“史上最牛的毕业证”。</string>
	</dict>
	<dict>
		<key>discount</key>
		<string>5.6</string>
		<key>disDate</key>
		<string>May.04</string>
		<key>coverImg</key>
		<string>http://img5q.duitang.com/uploads/item/201202/12/20120212145048_cjYNR.thumb.700_0.jpg</string>
		<key>title</key>
		<string>民国初年北京清华大学研究生李鸿樾</string>
		<key>curPrice</key>
		<string>￥225</string>
		<key>oriPrice</key>
		<string>￥338</string>
		<key>detail</key>
		<string>民国初年北京清华大学研究生李鸿樾的毕业证书走红网络。因毕业证书的导师栏里赫然写着王国维、梁启超、梅贻琦、赵元任、陈寅恪等历史名人，而被网友惊呼为“史上最牛的毕业证”。</string>
	</dict>
	<dict>
		<key>discount</key>
		<string>6.7</string>
		<key>disDate</key>
		<string>Apr.07</string>
		<key>coverImg</key>
		<string>http://img5q.duitang.com/uploads/item/201202/21/20120221173426_NeyNL.thumb.700_0.jpg</string>
		<key>title</key>
		<string>民国初年北京清华大学研究生李鸿樾</string>
		<key>curPrice</key>
		<string>￥225</string>
		<key>oriPrice</key>
		<string>￥338</string>
		<key>detail</key>
		<string>民国初年北京清华大学研究生李鸿樾的毕业证书走红网络。因毕业证书的导师栏里赫然写着王国维、梁启超、梅贻琦、赵元任、陈寅恪等历史名人，而被网友惊呼为“史上最牛的毕业证”。</string>
	</dict>
	<dict>
		<key>discount</key>
		<string>6.7</string>
		<key>disDate</key>
		<string>Apr.07</string>
		<key>coverImg</key>
		<string>http://img5q.duitang.com/uploads/item/201202/21/20120221173426_NeyNL.thumb.700_0.jpg</string>
		<key>title</key>
		<string>民国初年北京清华大学研究生李鸿樾</string>
		<key>curPrice</key>
		<string>￥225</string>
		<key>oriPrice</key>
		<string>￥338</string>
		<key>detail</key>
		<string>民国初年北京清华大学研究生李鸿樾的毕业证书走红网络。因毕业证书的导师栏里赫然写着王国维、梁启超、梅贻琦、赵元任、陈寅恪等历史名人，而被网友惊呼为“史上最牛的毕业证”。</string>
	</dict>
</array>
</plist>
